*{
	margin:0;
	padding:0;
	font-family:'微软雅黑';
}
body{
}
nav{
	height:50px;
	background:rgba(0,0,0,0.5);
}
#banner{
	background:rgba(0,0,0,0.2);
	height:800px;
}
nav ul{
	list-style:none;
}
nav ul li{
	display:inline-block;
	float:right;
	margin:0 10px;
}
a{
	color:rgba(255,255,255,0.6);
	text-decoration:none;
}
a:hover {
    color:#fff;
}
nav a{
	line-height:50px;
	font-size:14px;
	font-weight:bold;
}
nav .logo{
	float:left;
	margin:0 10px;
}

#banner .inner{
	max-width:260px;
	text-align:center;
	position:relative;
	top:240px;
	margin:0 auto;
}
#banner .inner h1{
	border-top:1px solid #fff;
	border-bottom:1px solid #fff;
	padding:10px;
	color:#fff;
}
p{
	font-size:15px;
	letter-spacing:1px;
}
#banner .inner p{
	margin:20px;
	color:#fff;
}
button{
	cursor:pointer;
}
#banner button{
	border:none;
	border-radius:2px;
	background:#F14646;
	color:#eee;
	padding:10px;
}
#banner .inner button{
	margin:30px 0;
}
#banner .more{
	position:relative;
	top:300px;
	width:260px;
	text-align:center;
	margin:0 auto;
	color:#fff;
}
.one-section{
	background:#18B296;
	padding:50px 0;
	color:#fff;
}
.wrapper{
	max-width:600px;
	margin:0 auto;
	text-align:center;
}
.one-section .wrapper h2{
	padding:25px 0;
	margin:0 0 25px;
	border-bottom:2px solid #138D77;
}
.one-section .wrapper .icons{
	margin:50px 0;
}
.one-section .wrapper .icon{
	display:inline-block;
	width:70px;
	height:70px;
	background:#000;
	transform:rotate(45deg);/* CSS3 */
	margin:0 30px;
	box-sizing:border-box;
    border-bottom:1px solid #084238;
    border-left:1px solid #fff;
	background:#20AB92;
}
.two-section{
	color:#fff;
	background:#1F375F;
}
.article{
	font-size:0; /* 清除内容行高影响 */
}
.article .img{
	width:45%;
}
.img img{
	width:100%;
	
}
.article > div{
	float:left;
}

.article{
	background:#192C4C;
}
.article:nth-child(even){ /* 偶数选择器 */
	background:rgba(255,255,255,0.05); /* 添加蒙板 */
}
.article:after{ /* 伪元素 */
	content:'';
	display:block;
	clear:both;
}
.two-section .text{
	width:55%; /* 必须与图片刚好占100% */
}
.two-section .text p{
	margin:25px 50px 0;
}
.two-section .text h2{
	margin:50px 50px 0;
	font-size:20px;
}
.three-section{
	background:#946AAE;
	color:#fff;
}

.cards .card{
	width:50%;
	float:left;
	background:;
}
.cards:after{ /* 伪元素 */
	content:'';
	display:block;
	clear:both;
}
.wrapper-title{
	padding:100px;
}
.wrapper-title h2{
	margin:25px 0;
}
.cards{
	text-align:left;
}
.card h3,.card p{
	margin:20px;
}
.three-section .wrapper{
	padding:0 0 100px;
}
.card:nth-child(1){
	background:rgba(0,0,0,0.04);
}
.card:nth-child(2){
	background:rgba(0,0,0,0.08);
}
.card:nth-child(3){
	background:rgba(0,0,0,0.12);
}
.card:nth-child(4){
	background:rgba(0,0,0,0.16);
}
.card:nth-child(5){
	background:rgba(0,0,0,0.20);
}
.card:nth-child(6){
	background:rgba(0,0,0,0.24);
}
footer{
	text-align:center;
	color:#fff;
}
footer .share{
	padding:50px 0;
	background:rgba(0,0,0,0.2);
}
footer .share dd{
	display:inline-block;
	margin:0 5px;
}
footer .copyright{
	padding:10px;
	background:rgba(0,0,0,0.8);
}
.wall{
	background:url(../image/backimage2.jpg) no-repeat center;
	background-attachment:fixed;
	background-size:cover;
}