body {
    font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}
p{
	letter-spacing:1px;
}
code{
	letter-spacing:0;
}
.wall{
	background:rgba(0,0,0,0.02);
}
nav{
	background:rgba(0,0,0,0.7);
}
nav .navbar{
	border-radius:0;
}
nav a{
	color:rgba(255,255,255,0.8);
	font-size:14px !important;
}
nav a:hover{
	color:#fff;
	text-decoration:none;
}
nav .navbar-brand{
	font-weight:bold;
}
nav .dropdown-menu .divider{
	background-color:rgba(255,255,255,0.6);
}
#F1{
	margin:50px 0;
}
#F1 a:hover,#F1 a:focus{
	color:#337ab7;
}
.bs-docs-sidenav > li > a {
	display: block;
	width: 190px;
	margin: 0 0 -1px;
	padding: 4px 14px;
}
.bs-docs-sidenav a{
	color:#767676;
}
.bs-docs-sidenav a:focus,.bs-docs-sidenav a:hover{
	color:#337ab7;
}
.bs-docs-sidenav > a{
	display:block;
	padding:14px;
	font-size:12px;
}
.bs-docs-sidenav {
	width: 228px;
	margin: 30px 0 0;
	padding: 0;
	
}
.bs-docs-sidenav .icon-chevron-right {
	float: right;
	margin-top: 2px;
	margin-right: -6px;
	opacity: 0.25;
}
.content-section h1{
	margin:0;
	padding:30px 0 10px;
	border-bottom:1px solid #ddd;
}
.content-section p{
	padding:10px 0;
}

footer{
	text-align:center;
}
footer .share{
	padding:30px 0;
	background:rgba(0,0,0,0.2);
}
footer dl{
	margin:0;
}
footer .share dd{
	display:inline-block;
	margin:0 5px;
}
footer .copyright{
	padding:10px;
}